:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: margin-box;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

nav a:hover {
  background-color: aquamarine;
}

nav a.active {
  font-weight: bold;
  color: red;
}

.dropdown {
  margin-top: 1em;
  padding: 1em;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: aquamarine;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: grey;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}